button[class*="ToggleTocButton"] svg{
    margin-top: 45%;
  }
/*
  div[class*="SearchBox"]{
     left: -360px;
  }
  div[class*="SearchBox"]:before{
    right: 17px;
  }
  */

  div[class*="SearchContainer"] ul[class*="NavMenu"]{
    margin: 0 1em 0px 0;
  }

  table {
    border: 2px solid #16316F;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table tbody td {
    font-size: 13px;
  }
  table tr:nth-child(even) {
    background: #D0E4F5;
  }
  table thead {
    background: #16316F;
  }
  table thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table thead th:first-child {
    border-left: none;
  }
  
article.post>section[class*="StyledPost"]>p img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

article.post>section[class*="StyledPost"] h3::before{
  margin-top: initial;
  height: initial;
}